{% extends 'base.html.twig' %}

{% block title %}Nos Annonces !{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Voicis les annnonces de nos hôtes !</h1>

    <div class="row">
        {% for ad in ads %}
            {% set url = path('ads_show', {'slug': ad.slug}) %}

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <a href="{{ url }}">
                        <img src="http://placehold.it/348x250" alt="Image maison" style="height: 250px; with: 100%; display: block">
                    </a>
                    
                    <div class="card-header text-center">
                        3 chambres, 2 salles de bain , <strong>100&euro; /jour</strong> <br> <small>Pas encore noté</small> 
                    </div>
                    
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ url }}">{{ ad.title }}</a>
                        </h4>
                        <p class="card-text">
                            {{ ad.introduction}}
                        </p>
                        <a href="{{ url }}" class="btn btn-primary">En savoir plus !</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
